-e git+https://github.com/Sparsh57/MRISynth.git@4e0ead5c174be9d1cbd67da5b7de12c4e4c4648d#egg=fiber_processing
importlib_resources==6.5.2
joblib==1.4.2
nibabel==5.3.2
numpy==2.2.3
packaging==24.2
scipy==1.15.2
typing_extensions==4.12.2
